/* Sidebar Menu */

.sidebar {
    height: auto;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: purple;
    overflow-x: hidden;
    padding-top: 20px;
}

.profile-image {
    display: block;
    width: 80%;  /* Adjust width to fit within the sidebar */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Create round edges */
    margin: 10px auto 20px; /* Center the image horizontally and add some vertical spacing */
}


/* Style page content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}