/* Header Styles */
header {
    background: #333;
    color: #fff;
    height: 100vh; /* Makes the header fill the full height of the viewport */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    text-align: center; /* Centers content horizontally */
    position: relative; /* Ensures positioning context for the arrow */
}

.name {
    margin-top: -20vh; /* Adjust as needed based on content size */
}

/* Arrow Styles and Animations */
.name .arrow {
    position: absolute;
    bottom: 20px; /* Positioned at the bottom of the header */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; /* Indicates the arrow is clickable */
    width: 50px; /* Adjust size of the arrow */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.name .arrow img {
    animation: bounce 2s infinite;
    display: block;
    width: 100%;
}
