@font-face {
    font-family: 'cantarell';
    src: url('/assets/font/Cantarell-Regular.ttf');
}

body {
    background-color: #222222;
    margin: 0;
    height: 100vh;
    align-items: center;
    font-family: 'cantarell', sans-serif;
}

.name-bar {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: 20px; /* Adjust size as needed */
    font-weight: bold; /* Optional: making the text bold */
}

.tab-bar {
    display: flex;
    width: 100%; /* Take up the full width */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative; /* Relative positioning for later adjustments if needed */
}

.tab {
    flex-grow: 1;
    background-color: #666666;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-left: 2px; /* Applies to all but overridden for first child */
    margin-right: 2px; /* Applies to all but overridden for last child */
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.3s;
}

.tab:first-child {
    margin-left: 10px;
}

.tab:last-child {
    margin-right: 10px;
}

.tab:hover, .tab:focus, .tab.active {
    background-color: #888888;
}

.tab-content {
    display: none; /* Initially hidden */
    position: fixed; /* Fixed position to cover the necessary area under the tabs */
    top: 74px; /* Adjust based on the height of your header */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;    
    transition: transform 0.5s ease-out, opacity 0.5s ease-in; /* Smooth transition for transforming */
    transform: scaleY(0); /* Start scaled down */
    transform-origin: top; /* Grow from the top */
    opacity: 0; /* Start fully transparent */
}