/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333; /* Dark text for readability */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.full-screen {
    height: 100vh; /* Full viewport height */
    background-color: #1c1c84; /* Navy blue background */
    color: #FFFFFF; /* White text for high contrast and readability */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Needed for proper positioning of the bouncing arrow */
}

.menu-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.bounce {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: auto;
    animation: bounce 2s infinite;
    cursor: pointer; /* Indicates this is clickable */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-30px);
    }
    60% {
        transform: translateX(-50%) translateY(-15px);
    }
}

#projects, #certifications {
    padding: 50px 20px;
    text-align: center;
    min-height: 50vh;  /* Set a minimum height */
    overflow: hidden;  /* Keeps the layout clean */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background: #f9f9f9; /* Light background for each item */
    border: 1px solid #ccc; /*   Border for items */
    border-radius: 8px; /* Rounded corners for aesthetics */
    padding: 10px;
    text-align: center; /* Center-aligns the text */
    margin-bottom: 20px;  /* Adds space at the bottom of each item */
}

.grid-item img {
    width: 100%; /* Makes images responsive */
    height: auto; /* Maintains aspect ratio */
    max-height: 200px; /* Limits image height */
    margin-bottom: 10px; /* Space between image and text */
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }
}
